.grid-container {
  margin: 20px;
}

.dashboard-card {
  height: 100%;
  width: 100%;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dash-title-container {
  display: flex;
  justify-content: space-between;
}

.dashboard-card-content {
  text-align: center;
}

gridster {
  height: 95vh;
}

.display-mode {
  background-color: transparent;
}